﻿body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

h1 {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 55px;
    color: lightgoldenrodyellow;
}

div {
    text-align: center;
    margin: 0px auto;
    text-align: center;
    margin: auto;
}

body {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.cell {
    width: 85px;
    height: 85px;
    border: 5px solid #0026ff;
    background: #FFFFFF;
    font-size: 46pt;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

    .cell:hover {
        background: #C2DBFC;
        text-align: center;
    }
